<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Keifer Gonzalez</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Keifer Gonzalez</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">Sepetember 5th, 1990</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">Denver, CO</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">brown.smith@gmail.com</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">+123 (21) 1234-5678</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">sc.chinaz.com</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec nulla sagittis, scelerisque mi vitae, congue turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec nulla sagittis, scelerisque mi vitae, congue turpis.
        </p>
        
         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec nulla sagittis, scelerisque mi vitae, congue turpis. 

        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">My Services</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tag"></i></div>
                <div class="service-detail">
                    <h6>RESUME</h6>
                    <p>Click here to see my resume.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
                    <h6>Porfolio</h6>
                    <p>Learn more about my projects.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>Moving Let Us Help</h6>
                    <p>Fusce quis interdum ipsum.Suspendi suscipit vehicula sapienid mattis. Lorem ipsum amet consectetur.</p>
                </div>
            </div
        </div>
     </div> 
</div><!-- End Services -->

<div class="clear"></div>
</div>
<!-- End .profile -->
